*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}
body{
    background-color:rgb(35, 35, 35);
}
nav{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 0px;
    width: 100%;
    color: white;
    font-size: larger;
    overflow: hidden;
    position: fixed;
    padding: 10px;
}
li{
    display: flex;
    float: inline-start;
   
}
li a{
    padding: 15px;
    display: block;
    color: white;
}
li a:hover{
    color: rgb(84, 16, 16);
    text-decoration: underline;
}
.description{
    display: flex;
    justify-content: space-around;
    padding-top: 200px;
    font-size: large;
    color: white;
}
.desc{
    padding: 100px 40px;
}
.desc-head1{
    font-size: 40px;
}
.desc-head1 span{
    color: coral;
}
.desc-head2{
        font-size: 60px;
    margin-top: 10px;
}
.desc-head2 span {

    color:coral;
    position: relative;
    
}

.desc p{
    margin-top: 15px;
}
.reseau i{
    margin: 8px;
      margin-top: 20px;
  
    border: 1px solid coral;
    border-radius: 50px;
    transition: .5s ease;

}
.reseau i:hover{
    color: coral;
    box-shadow: 0px 0px 20px coral;
}
.home-btn{
    padding: 15px 25px 15px 25px;
    font-size: 20px;
    background-color: coral;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px coral;
    transition: .3s ease;
    border: none;
}
.home-btn:hover{
    background: transparent;
    border: 2px solid coral;
    color: white;
}

/*stylisation de la page About*/
.about{
    display: flex;
    justify-content: space-around;
    margin: 100px 150px;
    padding-top: 80px;
    color: white;

}
.about-desc{
    margin-left: 50px;
}
.about-desc h1{
    size: 40px;
}
.about-desc h2{
    margin-top: 10px;
}
.about-desc span{
    color: coral;

}
.about-desc p{
    margin-top: 10px;
}
.about-btn{
     padding: 15px 25px 15px 25px;
    font-size: 20px;
    background-color: coral;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px coral;
    transition: .3s ease;
    border: none;

}
.about-photo{
    box-shadow: 0px 0px 10px coral;
}
/* Stylisation de la page Services*/
.service-head{
    margin-top: 150px;
    text-align: center;
    color:white;
    font-size: 40px;
    padding-top: 80px;
}
.service-head span{
    color: coral;
}
.card{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    text-align: center;
    margin:50px;
    color:white;
}
.card-layout{
    background-color: rgb(60,60,60);
    padding: 30px;
    border-radius: 20px;
    transition: .3s ease;
}
.card-layout i{
    font-size: 40px;
    color: coral;
}
.card-layout h2{
    font-size: 25px;
    margin-top: 15px;
}
.service-btn{
    padding: 10px 25px 10px 25px;
    font-size: 20px;
    background-color: coral;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px coral;
    transition: .3s ease;
    border: none;

}
.service-btn:hover{
     color: coral;
    box-shadow: 0px 0px 20px coral;
    background: transparent;

}
/*Stylisation de la page Project*/
.pro-head{
    margin-top: 150px;
    text-align: center;
    color: coral;
    padding-top: 80px;
}
.pro-head span{
    color: coral;
}
.projets{
    display: flex;
    align-items: center;
    justify-content: center;
}
.projects-card{
    margin: 30px;
    margin-top: 60px;
    box-shadow: 5px 5px 15px black;
    position: relative;
}
.projects-card h1{
    opacity: 0;
    visibility: hidden;
}
.projects-card h1:hover{
    opacity: 0;
    visibility: visible;
}
.project-desc{
    width: 430px;
    box-sizing: border-box;
    position: absolute;
    padding: 5px;
    color: white;
    bottom: 0px;
    text-align: center;
    transition: .5s ease-out
}
.projects-card:hover, .project-desc:hover{
    border-image: fill 0 linear-gradient(black);
    height: 200px;
    bottom: 0px;
    padding: 60px;
}

/*stylisation de la page contact*/
.contact-head{
    margin-top: 150px;
    text-align: center;
    color: white;
    font-size: 40px;
    padding-top: 50px;
}
.contact-head span{
    color: coral;
}


#contact form {
    margin: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.forms {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
}

.contact {
    display: flex;
    margin: 10px;
    gap: 20px;
}

.form-group {
    flex: 1;
    
}

.form-group.full-width {
    flex: 0 0 100%;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: rgb(60,60,60);
    color: white;
}

textarea {
    resize: vertical;
    min-height: 150px;
}

.form-btn {
    background-color: coral;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: flex-start;
}

.form-btn:hover {
    background-color: #ff7f50;
    border-radius: 10px ;
    transition: .3s ease-in-out;
}
.footer{
    background-color: black;
    color: rgb(211,211,211);
    padding: 15px;
    font-size: 40px;
    text-align: center;
}
